:root {
    --color-bg: #19191A;
    --color-border: #363636;
    --color-white: #ddd;
    --color-error: #a10000;
    --color-dark-white: #d3d3d3;
    --color-light-dark: #292929;

    --fs-normal: 1.6rem;

    --fs-border-radius: 10px;
}
